@layout() 
<div>
    <div class="hero">
        <h1>My Collection</h1>
        <p>This is a collection containing all the books you own.</p>
    </div>

    @component('components/collection/grid', { books })
    @endcomponent
</div>
    
@end