@layout() 
    <div class="hero">
        <img src="{{ book.imgAddress }}">
        <h1> {{ book.title }} </h1>
        <p> Author: {{ book.author }} </p>
        <p> Genre: {{ book.genre }} </p>
        <p> Pages: {{ book.pageCount }} </p>
        <p> ISBN: {{ book.isbn }} </p>
    </div>
@end